<table class='table table-hover table-inverse', id="books-index">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Tag</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td>
         <% book.book_tags.map(&:tag_name).each do |book_tag| %>
            <%= link_to book_tag,search_path(word: book_tag) %>
            <% unless book_tag == book.book_tags.map(&:tag_name).last %>,<% end %>
          <% end %>
        </td>
        <td>
        <td id="favorite-button_<%= book.id %>">
          <%= render 'favorites/favorite-btn', book: book %>
        </td>
        <td>コメント数：<%= book.book_comments.count %></td>
        <%= render 'books/rate-index' , book: book %>
        <td>閲覧数：<%= book.impressionist_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>