<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @booknew %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>
            <% @book.book_tags.map(&:tag_name).each do |book_tag| %>
            <%= link_to book_tag,search_path(word: book_tag) %>
            <% unless book_tag == @book.book_tags.map(&:tag_name).last %>,<% end %>
          <% end %>
        </td>
          <td id="favorite-button_<%= @book.id %>">
            <%= render 'favorites/favorite-btn', book: @book %>
          </td>
          </td>
          <td>コメント数：<%= @book.book_comments.count %></td>
          <%= render "rate-index", book: @book %>
          <td>閲覧数：<%= @book.impressionist_count %></td>
          <% if @book.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
          <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <div id="comments-index">
        <%= render 'book_comments/index', book: @book %>
      </div>
      <div id="error-message">
        <%= render 'layouts/errors', obj: @comment %>
      </div>
      <div id="comment-form">
        <%= render 'book_comments/form', book: @book, book_comment: @comment %>
      </div>
    </div>
  </div>
</div>